@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



body {
  
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}


  ul {
    list-style-type: none;
    text-decoration:none;
  }
  

.header{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  


}

.content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  

}

.buttons{
    padding: 20px;
    gap: 20px;
}


a{
  text-decoration:none;
 }

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration:none;
 

}
.left-links{
  display: flex;
  gap: 10px;
  padding: 10px;

}
.right-links{
  display: flex;
  gap: 10px;
  padding: 10px;

}