* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

.button-container {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  opacity: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 20px;
  color: #ffffff;
  background-color: #0e79dd;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

.popup-modal {
  padding: 32px 64px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) translateY(-100px); /* set position of where modal comes in from*/
  pointer-events: none;
  opacity: 0;
  text-align: center;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out; /*make animation smooth*/
}

.popup-modal p {
  margin-bottom: 24px;
}

.backdrop {
  pointer-events: none;
  position: fixed;
  inset: 0;
  background: #000;
  opacity: 0;
  transition: opacity 0.5s ease-out; /*make transition smooth*/
}

.popup-modal.show {
  transform: translate(-50%, -50%) translateY(0);
  opacity: 20;
  pointer-events: all;
}

.backdrop.show {
  opacity: 0.3;
}
